body {
	background: linear-gradient(#fffaf0);
	font-family: 'Roboto';
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

#navigationBar {
	width: 100%;
	height: 80px;
	background-color: #3d3b3b;
	color: #999;
}

#navigationBar a:hover {
	color: #eee;
}

.navigationBarLeft {
	width: 55%;
	line-height: 80px;
	background-color: #3d3b3b;
	float: left;
}

.navigationBarRight {
	width: 45%;
	line-height: 80px;
	background-color: #3d3b3b;
	float: right;
}

.navigationBarLeft ul , .navigationBarRight ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigationBarLeft ul li , .navigationBarRight ul li {
	padding-right: 2em;
}

.navigationBarLeft ul li {
	float: left;
}

.navigationBarLeft ul li:first-child {
	color: #eee;
	font-weight: bold;
	font-size: 24px;
}

.navigationBarRight ul li {
	float: right;
}

.navigationBarRight ul li:first-child {
	display: none;
}

#pageHeading {
	width: 100%;
	height: 70px;
	background-color: #3d3b3b;
	color: #eee;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Lato';
	letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {

	.navigationBarLeft ul li:not(:first-child), .navigationBarRight ul li:not(:first-child) {
		display: none;
		width: 100%;
	}

	.navigationBarRight ul li:first-child {
		display: inline-block;
		cursor: pointer;
	}

	.navigationBarLeft, .navigationBarRight {
		width: 50%;
	}

	.container {
		padding: 0;
	}

	li {
		padding-left: 10px;
	}
}