#statisticbyhost {
	max-width: 100%;
	height: auto;	
}

.host {
	width: 800px;
	margin: 5% auto;
	box-shadow: 0px 0px 6px 2px #00000080;
}

.host table {
	width: 100%;
	color: #2c2c2c;
}

.host th {
	padding: 15px;
	text-align: left;
}

.host td  {
	padding: 15px;
	text-align: left;
}

.requests table {
	font-size: 14px;
	width: 100%;
	background-color: #444;
	color: #FFFFFF;
	box-shadow: 0px 0px 6px 2px #00000080;
}

.requests th, td {
	padding: 15px;
	text-align: left;
}